<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #background {
            width: 1280px;
            height: 720px;
            background-image: url('https://i.imgur.com/ox8toi3.png');
            background-size: cover;
        }
    </style>
</head>
<body>
    <div id="background">
        <div style="position: relative; top: 204px; left: 118px">
            <img src="https://i.imgur.com/I3vGKIw.png" width='235px' alt="char">
            <div style="position: absolute; top: 45px;">
                <img src="https://i.imgur.com/5FD6oEn.png" width='65px' alt="char">
            </div>
            <div style="position: absolute; top: 91px;">
                <img src="https://i.imgur.com/R0OUwpm.png" width='235px' alt="char">
            </div>
            <div style="position: absolute; top: 180px; left: 230px">
                <img src="https://i.imgur.com/bRsiKbz.png" width='370px' alt="char">
            </div>
            <div style="position: absolute; top: -90px; left: 260px">
                <img src="https://i.imgur.com/A1X5dIt.png" width='320px' alt="char">
            </div>
            <div style="position: absolute; top: 80px; left: 370px">
                <img src="https://i.imgur.com/y7TdCIo.png" width='100px' alt="char">
            </div>
            <div style="position: absolute; top: -110px; left: 800px">
                <a href = '/santa/finish/'><img src="https://i.imgur.com/Ywk7izL.png" width='200px' alt="done"></a>
            </div>
        </div>
        

    </div>
</body>
</html>