<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base site</title>

    <style>
        #background {
            width: 1280px;
            height: 720px;
            background-image: url('https://i.imgur.com/n3lY4vl.png');
            background-size: cover;
        }
    </style>

</head>

<body>

    <div id="background">
        <a href = '/letter/'>letter</a><br>
        <a href = '/santa/'>santa</a><br>

        <div style="position: relative;">
            <img src="https://i.imgur.com/EsTAG7z.png" style="width: 700px" alt="santa_shadow">
            <div style="position: absolute; top: 280px; left: 280px;">
                <a href="/santa/"><img src="https://i.imgur.com/mYE9Lt1.png" style="width: 150px" alt="plus_btn"></a>
            </div>
            <div style="position: absolute; top: 90px; right:200px;">
                <a href="/letter/new_letter/"><img src="https://i.imgur.com/50NeHJZ.png" style="width: 150px" alt="happy_btn"></a>
            </div>
            <div style="position: absolute; top: 250px; right:290px;">
                <a href="/letter/new_letter/"><img src="https://i.imgur.com/ydl6lK9.png" style="width: 150px" alt="happy_btn"></a>
            </div>
            <div style="position: absolute; top: 400px; right:180px;">
                <a href="/letter/new_letter/"><img src="https://i.imgur.com/wkzFbMt.png" style="width: 150px" alt="happy_btn"></a>
            </div>
            <div style="position: absolute; top: 570px; right:100px;">
                <a href="/letter/new_letter/"><img src="https://i.imgur.com/29yK88I.png" style="width: 150px" alt="happy_btn"></a>
            </div>
        </div>
    </div>


</body>
</html>